@font-face {
  font-family: "heading1"; /* name you will use in Chakra/React */
  src: url("../assets/Fonts/anja_eliane/Anja Eliane.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "main";
  src: url("../assets/Fonts/falling-sky-font/FallingSkyCondensed-9qm2.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "text";
  src: url("../assets/Fonts/midfielder/simpletix.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "heading-otf";
  src: url("../assets/Fonts/dunkin/Dunkin.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}
